<%- include('../partials/admin/header') %>
<main>
    <%- include('../partials/admin/barraDeLinks') %> 
   <!--  <div>
        <ul class="Ciclo">
            <li>
                <h1>Ciclo de Vendas</h1>
            </li>
        </ul>
        <ul class="ValorCiclo"> 
            <li>
                <h1>R$ XX,XX</h1>
            </li>    
        </ul>
    </div>    -->
 </main>