<%- include('../partials/admin/header') %>
<main>
    <div class="painel">
        <ul>
            <li><a href="/admin/painel">Painel</a></li>
            <li><a href="#">Vendas</a></li>
            <li><a href="/admin/gerenciamentodeprodutos">Produtos</a></li>
            <li><a href="#">Clientes</a></li>
            <li><a href="#">Métodos de entrega</a></li>
            <li><a href="#">Promoções</a></li>
            <li><a href="#">CMS</a></li>
            <li><a href="#">Google Shopping</a></li>
            <li><a href="#">Relatórios</a></li>
        </ul>
    </div>
   <!--  <div>
        <ul class="Ciclo">
            <li>
                <h1>Ciclo de Vendas</h1>
            </li>
        </ul>
        <ul class="ValorCiclo"> 
            <li>
                <h1>R$ XX,XX</h1>
            </li>    
        </ul>
    </div>    -->
 </main>