<%- include('../partials/admin/header') %>
    <main>
        <div class="painel">
            <ul>
                <li><a href="#">Painel</a></li>
                <li><a href="#">Vendas</a></li>
                <li><a href="#">Catálogo</a></li>
                <li><a href="#">Clientes</a></li>
                <li><a href="#">Métodos de entrega</a></li>
                <li><a href="#">Promoções</a></li>
                <li><a href="#">CMS</a></li>
                <li><a href="#">Google Shopping</a></li>
                <li><a href="#">Relatórios</a></li>
            </ul>
        </div>
        <div class="gerenciamento">
            <h2>Gerenciar Produtos</h2>
            <a href="/admin/gerenciamentodeprodutos/adicionarproduto">Adicionar Produto</a>
        </div>
        <div class="descricoes">
            <ul class="dsc">
                <li class="id_produto">
                    ID
                </li>
            </ul>
            <ul class="dsc">
                <li class="nome">Nome</li>
            </ul>
            <ul class="dsc" style="margin-left: auto;">
                <li class="sku">SKU</li>
            </ul>
            <ul class="dsc">
                <li class="preco">Preço</li>
            </ul>
            <ul class="dsc">
                <li class="quantidade">Quantidade</li>
            </ul>
            <ul class="dsc">
                <li class="status">Status</li>
            </ul>
            <ul class="dsc">
                <li class="acoes">Ações</li>
            </ul>                 
        </div>
        <div class="container">
            <div class="produto">
                <p>1</p>
            </div>
            <div class="nome-produto">                
                <p>Cafeteira Mondial Espresso C-08 automática expresso 110V preta</p>         
            </div>
            <div class="descricao" style="width: 200px;">                
                <p>produtoteste001-preto-G </p>
            </div>
            <div class="descricao" style="width: 90px;">
                <p>R$XX,XX</p>
            </div>
            <div class="descricao" style="width: 80px;">                
                <p>2</p>
            </div>
            <div class="descricao" style="width: 85px;">                
                <p>Habilitado</p>
            </div>
            <div class="descricao" style="width: 60px; padding-top:17px;">                
                <a href="#">Editar</a>
            </div>
        </div>
    </main>
</body>
</html>