html, body{
    font-family: 'Red Hat Display', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
header .wrapper{
    background-color: #291616;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    display: flex;
   /* flex-wrap: wrap; */
    /* height: 110px; */
    margin: 0 auto;
    justify-content: space-around;
    width: 100%;
    padding: 50px 0; /* em alguns casos é interessante definir tamanho por padding*/
}
/* ========================
          Navbar
=========================== */
.index{
    margin-left: 50px;
}
header ul, header li {
    display: flex;
    list-style-type: none;
    padding: 0;
}
ul,li{
    list-style-type: none;
    padding: 0;
}
header nav{
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
}
header nav a{
    color: #FFFFFF;
    line-height: 24px;
    margin: 0 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-top: 5px;
}
header nav a .seta{
    margin-left: 5px;
}
header nav a:hover{
    color: #CE5F20;
    transition-duration: 0.25s;
}
/* Barra de pesquisa */
header nav .search_button .search_box {
    border-bottom-left-radius: 11px;
    border-top-right-radius: 11px;
    height: 34px;
    font-size: 15px;
    margin-left: 20px;
    padding: 4px;
    text-align: center;
    width: 561px;
    outline: 0; /* tira a borda quando clica na barra*/
}
header nav .carrinho{
    color: #fff;
}
main{
    margin-left: 201px;
    margin-right: 283px;
    margin-top: 50px;
}
/* =============================
    Cafeteiras dropdown
===============================*/
.dropdown-cafeteiras .dropdown-menu{
    background-color: #291616;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    height: 576px;
    left: 0;
    opacity: 0;
    position: absolute;
    padding: 0;
    top: 101px;
    transition: visibility 0.3s, opacity 0.3s;
    visibility: hidden;
    width: 100%;
    z-index: 10;
}
.itens{
    display: flex;
    flex-wrap: wrap;
    margin-left:22%;
    width: 276px;
}
.dropdown-item{    
    line-height: 15px;
    margin-top: 40px;
}
.down{
    padding-left: 283px;
}
nav .dropdown-cafeteiras:hover{
    height: 73px;
}
.nav-item:hover .dropdown-menu{
    opacity: 1;
    visibility: visible;
}
/* =============================
        Capsulas Dropdown
===============================*/
.dropdown-capsulas .dropdown-menu{
    background-color: #291616;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    height: 350px;
    left: 0;
    opacity: 0;
    position: absolute;
    padding: 0;
    top: 101px;
    transition: visibility 0.3s, opacity 0.3s;
    visibility: hidden;
    width: 100%;
    z-index: 10;
}
.dropdown-capsulas .dropdown-item img{
    border-radius: 5px;
}
.dropdown-capsulas .dropdown-item{
    margin-right: 25px;
    line-height: 35px;
}
/* =============================
             Login
===============================*/
nav .nav-item .nav-login{
    width: 86.55px;
}
nav .nav-item .dropdown-menu-login{
    background-color: #291616;
    border-color: #CE5F20;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    color: #fff;
    height: 312px;
    opacity: 0;
    position: absolute;
    right: 70px;
    top: 133px;
    transition: visibility 0.3s, opacity 0.3s;
    visibility: hidden;
    width: 195px;
}
.dropdown-menu-login h3{
    margin-bottom: 10px;
}
nav .dropdown-menu-login .form-group{
    margin-top: 16px;
}
nav .form-check{
    font-size: 14px;
    margin-top: 12px;
    margin-right: 26px;
}
nav .dropdown-menu-login .login-btn{
    background-color: #CE5F20;
    color: #fff;
    border: 0px;
    border-radius: 6px;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: bold;
    font-size: 15px;
    height: 26px;
    margin-top: 10px;
    padding: 0;
    width: 150px;
}
nav .dropdown-menu-login .register-btn{
    background-color: #CE5F20;
    color: #fff;
    border: 0px;
    border-radius: 6px;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: bold;
    font-size: 15px;
    height: 26px;
    margin-top: 10px;
    padding: 0;
    width: 150px;
}
.login-options h4{
    margin-top: 16px;
    margin-bottom: 0;
}
nav .dropdown-menu-login .login-options{
    background-color: #fff;
    border-radius: 5px;
    color: #291616;
    height: 64px;
    margin-left: 22px;
    width: 151px;
}
header nav .container a{
    display: inline;
}
nav .nav-item .nav-login:hover{
    height: 75px;
}
.nav-item .nav-login:hover .dropdown-menu-login{
    opacity: 1;
    visibility: visible;
}
/*=========Desktop=========*/
@media (min-width: 1024px) and (max-width: 1280px){
    .navbar{
        font-size: 85%;
    }
    .index{
        right: 60px;
        margin-top: -24px;
    }
    header nav .search_button .search_box {
        height: 30%;
        width: 45vw;
    }
    .itens{
        margin-left: 5%;
    }
}
@media (min-width: 1280px) and (max-width: 1680px) {
    .navbar{
        margin-right: 4%;
        font-size: 85%;
    }
    header nav .search_button .search_box {
        
        width: 43vw;
    }
    .itens{
        margin-left: 10%;
    }
}
@media (min-width: 1920px){
    .index{
        margin-left: 6%;
    }
    .navbar{
        margin-right: 10%;
    }
    .dropdown-cafeteiras .dropdown-menu, .dropdown-capsulas .dropdown-menu{
        top: 163px;
    }
    .itens{
        margin-left: 24%
    }
    header nav .dropdown-menu a{
        display: block;
    }
    .down{
        padding-left: 256px;
    }
    nav .nav-item .dropdown-menu-login{
        top: 169px;
        right: 269px;
    }
    nav .nav-item .dropdown-menu-login{
        height: 325px;
    }
}
.pedido-pagamento{
    display: flex;
    justify-content: space-between;
}
.res-pedido {
    color: #CE5F20;
    display: flex;
    margin-bottom: 15px;
}

.informacoes-produto{
    display: flex;
}

.informacoes-produto p{
    display: flex;
    text-align: start;
}
.informacoes-produto li{
    margin-left: 20px;
}

.info-valores{
    border-top: 1px solid #CEC9C9;
    border-bottom: 1px solid #CEC9C9;
    display: flex;
    justify-content: space-between;
    height: 197px;
    position: absolute;
    right: 352px;
    top: 320.433px;
    width: 440px;
}
.finaliza-compra{
    display: flex;
    justify-content: flex-end;
    margin-top: 10%;
    margin-bottom: 40px;
}
.finaliza-compra button{
    background-color: #F88C4D;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;
}

.cfg-pedido{
    display: flex;
    justify-content: space-around;
}

.meio-de-entrega{
    background-color: #FFF8F0;
    border: 1px solid #DDCCCC;
    border-radius: 5px;
    height: auto;
    width: 56%;
}
.title-meios{
    color: #CE5F20;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    margin-left: 15px;
    margin-top: 15px;
}
.Selecione-uma-forma-de-pagamento select{
    border-radius: 5px;
    border: 2px solid #F5C0A2;
    background-color: #FFF8F0;
    font-size: 14px;
    height: 5%;
    padding-top: 20px;
    padding-left: 15px;
    padding-bottom: 20px;
    width: 90%;
}
.Selecione-uma-forma-de-pagamento .title-endereco{
    display: flex;
    margin-left: 30px;
    margin-top: 18px;
}
.Selecione-uma-forma-de-pagamento .endereco{
    display: flex;
}
.info-de-enderecos{
    background-color: #FFF1E0;
    border-radius: 5px;
    height: 130px;
    margin-left: 32px;
    margin-right: 16px;
}

.info-de-enderecos .endereco li{
    width: max-content;
}

.edit-endereco{
    display: flex;
    margin-left: 25px;
}
.edit-endereco a{
    color: #CE5F20;
    text-decoration: none;
}
.adc-endereco{
    margin-left: auto;
}
.selecao-endereco h2{
    color: #CE5F20;
}
.box-options p{
    margin-top: 0;
    margin-bottom: 0;
}

.box-options .Normal,
.box-options .Agendada,
.box-options .Expressa {
    border-bottom: 1px solid black;
    display: flex;
    height: 18px;
    justify-content: space-between;
    margin-left: 31px;
    margin-bottom: 14px;
    margin-right: 15px;
    padding-bottom: 9px;
}

.formas-pagamento{
    background-color: #FFF8F0;
    border: 1px solid #DDCCCC;
    border-radius: 5px;
    height: auto;
    width: 40%;
}

.opcoes-pagamento{
    background-color: #FFF1E0;
    border-radius: 5px;
    margin-top: 50px;
    margin-left: 8%;
    padding-left: 70px;
    text-align: left;
    width: 50%;
    
}
.pagamento-escolhido{
    border-bottom: 1px solid black;
    padding-bottom: 25px;
    padding-top: 12px;
}

.opcoes-pagamento select{
    border: 1px solid #CE5F20;
    background-color: #FFF1E0;
    height: 40px;
    margin-top: 20px;
    width: 110px;
}
.box-pagamentos{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: max-content;
}

.box-pagamentos .debito,
.box-pagamentos .boleto,
.box-pagamentos .pix{
    border-bottom: 1px solid black;
    margin-left: 70px;
    padding-bottom: 15px;
}
