<%- include('./partials/header') %> 
<main>
    <div class="title-suaconta">
        <h1>Sua conta</h1>
    </div>    
    <div class="user-options">
        <div class="user-options-up">
            <div class="options">
                <h2>Seus Pedidos</h2>
                <div class="redirect">
                    <img src= "/images/package.png" alt="Pedidos" style="width: 77px;height: 64px;">
                    <a href="/paginadousuario/rastrearPedido">Rastrear Seus Pedidos ou Comprar Novamente</a>
                </div>                
            </div>
            <div class="options">
                <h2>Acesso e Segurança</h2>
                <div class="redirect">
                    <img src= "/images/shield.png" alt="Segurança" style="width: 77px;height: 64px;">
                    <a href="/paginadousuario/seguranca">Alterar informações pessoais</a>
                </div>                
            </div>
            <div class="options">
                <h2>Seus Endereços</h2>
                <div class="redirect">
                    <img src= "/images/home.png" alt="home" style="width: 77px;height: 64px;">
                    <a href="/paginadousuario/enderecos">Cadastrar novos endereços ou alterá-los</a>
                </div>     
            </div>
        </div>
        <div class="option-down">
            <div class="options">
                <h2>Pagamentos</h2>
                <div class="redirect">
                    <img src= "/images/credit-card.png" alt="home" style="width: 77px;height: 64px;">
                    <a href="#" style="margin-left: 20px;">Gerenciar formas de pagamento</a>
                </div>
            </div>         
        </div>
    </div>
    <%- include('./partials/whatsapp') %>
</main>
<%- include('./partials/footer') %>