<%- include('./partials/header') %>
<main>
    <div class="recupera-senha">
        <div class="title-recsenha">
            <h1>Recuperar Senha</h1>
        </div>
        <div class="body-senha">
            <h3>Insira o E-mail cadastrado para receber as intruções e o link para gerar uma nova senha</h3>
            <form action="">
                <label for="email">E-mail:</label>
                <input type="email" name="email">
            </form>
        </div>
        <div class="botoes-senha">
            <div class="links-senha">
                <a href="/">Cancelar</a>
            </div>
            <div class="links-senha">
                <a href="#">Enviar</a>
            </div>
        </div>
    </div>
</main>
<%- include('./partials/footer') %> 