<%- include('./partials/header') %>
<head>
    <link rel="stylesheet" href="stylesheets/style-about.css">
</head>
<section class="aboutUs">
    <div class="aboutUs-divisao">  
        <img  class="image-coffee "src="/images/page_about/cafe-lateral-about.png" alt="">
        <div class="description-us">
            <h6>Sobre nós</h6>
            <p>
                Acreditamos no sorriso esparramado no rosto, no olho esfumaçado por lágrimas e na respiração conduzida pelos passos firmes nas lavouras. Café é história nova ou de saudade. É conexão; lembrança com perfume da casa de avó, que salta pela caneca esmaltada, porcelana chique, xícara grande ou pequena. É aconchego que pode chegar em um copo lagoinha ou de requeijão. Café que, no boas-vindas inicial, não tem rodeios, abraça a boca e explode de sabores no paladar.
            </p>
        </div>
    </div>
</section>
<%- include('./partials/footer') %> 