<%- include('./partials/header') %>
<head>
    <link rel="stylesheet" href="stylesheets/style-about.css">
</head>
<section class="aboutUs">
    <div class="aboutUs-divisao">  
        <img  class="image-coffee "src="/images/page_about/cafe-lateral-about.png" alt="">
        <div class="description-us">
<<<<<<< HEAD
            <h6>About Us</h6>
            <p class="subtitulo-us">Um pouco sobre nós</p>
            <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
                standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled 
                to make a type specimen book. It has survived not only five centuries, but also the leap into 
                electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with 
                the release of Letraset sheets cont
=======
            <h6>Sobre nós</h6>
            <p>
                Acreditamos no sorriso esparramado no rosto, no olho esfumaçado por lágrimas e na respiração conduzida pelos passos firmes nas lavouras. Café é história nova ou de saudade. É conexão; lembrança com perfume da casa de avó, que salta pela caneca esmaltada, porcelana chique, xícara grande ou pequena. É aconchego que pode chegar em um copo lagoinha ou de requeijão. Café que, no boas-vindas inicial, não tem rodeios, abraça a boca e explode de sabores no paladar.
>>>>>>> 4750669a19a64cbfbde0a5d85e5c4cd72c912ddc
            </p>
        </div>
    </div>
</section>
<%- include('./partials/whatsapp') %> 
<%- include('./partials/footer') %> 