<%- include('./partials/header') %>

<main>
    <form action="/token/confirm" method="POST" id="confirmToken">
        <div class="telaToken">
            <h2>Insira o Token para a confirmação do E-mail</h2>
            <div class="barraToken">
                <input type="text" name="token">
                <button type="submit">Confimar</button>
            </br>
<<<<<<< HEAD
                <span style="color: black;">
                    <b><%= erro %></b>
                </span>
=======
                    <span style="color: black;">
                        <b><%= erro %></b>
                    </span>
>>>>>>> eb8e8b1e2f48e047b6ec9e5efad62ee1fc9444a9
            </div>
        </div>
    </form>
</main>

<%- include('./partials/footer') %> 