<%- include('./partials/header') %>

<main>
    <form action="/token/confirm" method="POST" id="confirmToken">
        <div class="telaToken">
            <h2>Insira o Token para a confirmação do E-mail</h2>
            <div class="barraToken">
                <input type="text" name="token">
                <button type="submit">Confimar</button>
            </br>
<<<<<<< HEAD
                    <span style="color: black;">
                        <b><%= erro %></b>
                    </span>
=======
                <span style="color: black;">
                    <b><%= erro %></b>
                </span>
>>>>>>> 7895d2d68d1bda8f8898cc4ab9029c5de615190a
            </div>
        </div>
    </form>
</main>

<%- include('./partials/footer') %> 