.produtos_filtros {
    display: flex;
    justify-content: center; 
    margin-top: 60px;
}

.bloco01 {
    width: 300px;
}

.bloco01 img{
    width: 200px;
        height: 200px;
}

.filtro{
    display: flex;
    flex-direction: column;
    border: 1px solid #291616;
    border-radius: 5px;
    background-image: url(../images/page_about/bACKGROUNS\ 1.png);
    width: 245px;
    align-items: start;
    padding-left: 10px;
    height: 650px;
    justify-content: space-around;
    
}

.filtro img{
    padding: 50px;

}

.btn-group {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 30px;
}

.btn-group .btn-primary{
    padding-bottom: 5px;
}

#option-preco{
    margin-bottom: 30px;
    border: 1px solid #F8CAB0;
    background: #FFEBDF;
    border-radius: 5px;
    padding: 5px 35px;
}

#option-cor{
    border: 1px solid #F8CAB0;
    background: #FFEBDF;
    border-radius: 5px;
    padding: 5px 53px;
}


.juntar_produtos{
    display: flex;
    flex-direction: column;
}

/*CHECK*/
input.radio:empty ~ label {
    position: relative;
    float: left;
    line-height: 2.5em;
    text-indent: 3.25em;
    margin-top: 2em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input.radio:empty ~ label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    width: 2.5em;
    background: #D1D3D4;
    border-radius: 3px 0 0 3px;
}

input.radio:hover:not(:checked) ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #C2C2C2;
}

input.radio:hover:not(:checked) ~ label {
    color: #888;
}

input.radio:checked ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #9CE2AE;
    background-color: #4DCB6D;
}

input.radio:checked ~ label {
    color: #777;
}

input.radio:focus ~ label:before {
    box-shadow: 0 0 0 3px #999;
}