html, body{
    font-family: 'Red Hat Display', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
header .wrapper{
    background-color: #291616;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    display: flex;
    flex-wrap: wrap;
    height: 110px;
    margin: 0 auto;
    justify-content: space-around;
    width: 100%;
}
/* ========================
          Navbar
=========================== */
.index{
    margin-top: 10px;
}
ul, li {
    display: flex;
    list-style-type: none;
}
header nav{
    margin-top: 20px;
    margin-right: 10%;
    font-size: 18px;
    font-weight: 600;
}
header nav a{
    color: #FFFFFF;
    line-height: 24px;
    margin-left: 20px;
    text-decoration: none;
}
header nav a:hover{
    color: #CE5F20;
}
/* Barra de pesquisa */
header nav .search_button .search_box {
    border-bottom-left-radius: 11px;
    border-top-right-radius: 11px;
    height: 34px;
    font-size: 15px;
    margin-left: 20px;
    padding: 4px;
    text-align: center;
    width: 561px;
}
header nav .carrinho{
    color: #fff;
}
/* =============================
    Cafeteiras dropdown
===============================*/
nav .dropdown-cafeteiras{
    height: 25.5px;
}
nav .dropdown-cafeteiras .dropdown-menu{
    background-color: #291616;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    display: none;
    height: 576px;
    left: 0;
    position: absolute;
    padding: 0;
    top: 101px;
    width: 100%;
    z-index: 10;
}
.itens{
    display: flex;
    flex-wrap: wrap;
    margin-left:23%;
    width: 276px;
}
.dropdown-item{    
    line-height: 15px;
    margin-top: 40px;
}
.down{
    padding-left: 283px;
}
nav .dropdown-cafeteiras:hover{
    height: 73px;
}
nav .dropdown-cafeteiras:hover .dropdown-menu{
    display: block;
}
/* =============================
             Login
===============================*/
nav .nav-item .nav-login{
    height: 25.5px;
    width: 81.55px;
}
nav .nav-item .dropdown-menu-login{
    background-color: #291616;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    color: #fff;
    display: none;
    height: 312px;
    position: relative;
    right: 45px;
    top: 25px;
    width: 195px;
}
h3{
    margin-bottom: 10px;
}
nav .dropdown-menu-login .form-group{
    margin-top: 16px;
}
nav .form-check{
    font-size: 14px;
    margin-top: 12px;
    margin-right: 26px;
}
nav .dropdown-menu-login .login-btn{
    background-color: #CE5F20;
    color: #fff;
    border: 0px;
    border-radius: 6px;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: bold;
    font-size: 15px;
    height: 26px;
    margin-top: 10px;
    padding: 0;
    width: 150px;
}
nav .dropdown-menu-login .register-btn{
    background-color: #CE5F20;
    color: #fff;
    border: 0px;
    border-radius: 6px;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: bold;
    font-size: 15px;
    height: 26px;
    margin-top: 10px;
    padding: 0;
    width: 150px;
}
h4{
    margin-top: 16px;
    margin-bottom: 0;
}
nav .dropdown-menu-login .login-options{
    background-color: #fff;
    border-radius: 5px;
    color: #291616;
    height: 64px;
    margin-left: 22px;
    width: 151px;
}
nav .nav-item .nav-login:hover{
    height: 75px;
}
nav .nav-item .nav-login:hover .dropdown-menu-login{
    display: block;
}