<%- include ('./partials/header')  %> 
<main>
    <h1>Carrinho</h1>
    <div class="descricoes">
        <ul class="dsc">
            <li>Nome do Produto</li>
        </ul>
        <ul class="dsc-quantidade">
            <li style="margin-left: 5px;">Preço unitário</li>
            <li>Qtd.</li>
            <li style="margin-right: 0px;margin-left: 14px;">Subtotal</li>
        </ul>                        
    </div>
    <div class="container-carrinho">
        <div class="produto">
            <img src="images/Mondial-C-08 3.png" alt="Mondial">
        </div>
        <div class="nome-produto">                
            <p>Cafeteira Mondial Espresso C-08 automática expresso 110V preta</p>
            <div class="exc">
                <a href = "#">Remover Produto</a>
            </div>             
        </div>
        <div class="descricao">                
            <p>R$XX,XX</p>
        </div>
        <div class="descricao">
            <div class="descricao-quantidade">
                <form action="">         
                    <input type="text" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                </form>
            </div>                
        </div>
        <div class="descricao">                
            <p>R$XX,XX</p>
        </div>
    </div>
    <!-- criar frete -->
    <!-- criar desconto -->
    <!-- crirar resuo do pedido -->
    <div class="total">
        <p>Valor Total</p>
        <div class="valor-emDinheiro">
            <p>R$XX,XX</p>
        </div>
    </div>
</main>