<%- include ('./partials/header')  %> 
<main>
    <h1>Seus Endereços</h1>
    <div class="enderecos-user">
        <div class="criarEndereco">
            <a href="#">
                <img src="images/plus.png" alt="crirar" style="margin-top: 57px;">
                <p>Adicionar Novo Endereço</p>
            </a>
        </div>
        <div class="lista-enderecos">
            <div class="endereco">
                <h2>Nome do Endereço</h2>
                <ul>
                    <li>Rua tal tal tal da tal, nº</li>
                    <li>Aqui o Bairro</li>
                    <li>Cidade, Estado, CEP</li>
                    <li>Aqui o País</li>
                    <li>Telefone: ###########</li>
                </ul>
                <div class="editar">
                    <div class="alterar">
                        <a href="#">Alterar</a>
                    </div>                        
                    <div class="excluir">
                        <a href="#">Excluir</a>
                    </div>
                </div>                 
            </div>
        </div>
        <div class="lista-enderecos">
            <div class="endereco">
                <h2>Nome do Endereço</h2>
                <ul>
                    <li>Rua tal tal tal da tal, nº</li>
                    <li>Aqui o Bairro</li>
                    <li>Cidade, Estado, CEP</li>
                    <li>Aqui o País</li>
                    <li>Telefone: ###########</li>
                </ul>
                <div class="editar">
                    <div class="alterar">
                        <a href="#">Alterar</a>
                    </div>                        
                    <div class="excluir">
                        <a href="#">Excluir</a>
                    </div>
                </div>  
            </div>
        </div>            
    </div>
    <div class="voltar">
        <a href="./homeUser.html">Voltar</a>
    </div>
    <div class="whatsapp">
        <a href="#"><img src="images/icons8-whatsapp-48.png"></a>
    </div>
</main>
<%- include ('./partials/footer')  %>