<%- include('./partials/header'); %>

<!---Carrossel-->
<div class="carrossel">
    <button class="carrossel_button carrossel_button--left is-hidden">
        <img src="./images/seta-carrosel.png" alt="">
    </button>
    <div class="carrossel_track-container">
        <ul class="carrossel_track">
            <li class="carrossel_slide current-slide">
                <img class="carrossel_img" src="./images/ima-carrossel01.png" alt="">
            </li>
            <li class="carrossel_slide">
                <img class="carrossel_img" src="./images/capsulas-carrossel.jpg" alt="">
            </li>
            <li class="carrossel_slide">
                <img class="carrossel_img" src="./images/2coffees.png" alt="">
            </li>
        </ul>
    </div>
    <button class="carrossel_button carrossel_button--right">
        <img src="./images/seta-carrosel.png" alt="">
    </button>

    <div class="carrossel_nav">
        <button class="carrossel_indicador current-slide"></button>
        <button class="carrossel_indicador"></button>
        <button class="carrossel_indicador"></button>
    </div>
</div>

<!---cards-->
<section class="bloco-container">
    <div class="bloco-teste">
        <a href="/cafeteiras">
            <div class="bloco">
                <img src="./images/Mondial.png" alt="">            
            <div class='descricao-home'>
                <p>Mondial <br> R$: XX,XX</p></div>            
        </div>
        </a> 

        <a href="#">
            <div class="bloco">
                <img src="./images/Nepresso.png" alt="">
            <div class='descricao-home'>
                <p>Philco <br> R$: XX,XX</p></div>
        </div>
        </a>
        
        <a href=""><div class="bloco">
            <img src="./images/Philco.png" alt="">
        <div class='descricao-home'>
            <p>Nespresso <br> R$: XX,XX</p
         ></div>
    </div></a>    
    </div>
</section>

<section class="bloco-container">
    <div class="bloco-teste">
        <a href="">
            <div class="bloco">
                <img src="./images/Mondial.png" alt="">            
            <div class='descricao-home'>
                <p>Mondial <br> R$: XX,XX</p></div>            
        </div>
        </a> 

        <a href="#">
            <div class="bloco">
                <img src="./images/Nepresso.png" alt="">
            <div class='descricao-home'>
                <p>Philco <br> R$: XX,XX</p></div>
        </div>
        </a>
        
        <a href=""><div class="bloco">
            <img src="./images/Philco.png" alt="">
        <div class='descricao-home'>
            <p>Nespresso <br> R$: XX,XX</p
         ></div>
    </div></a>    
    </div>
</section>

<section class="bloco-container">
    <div class="bloco-teste">
        <a href="">
            <div class="bloco">
                <img src="./images/Mondial.png" alt="">            
            <div class='descricao-home'>
                <p>Mondial <br> R$: XX,XX</p></div>            
        </div>
        </a> 

        <a href="#">
            <div class="bloco">
                <img src="./images/Nepresso.png" alt="">
            <div class='descricao-home'>
                <p>Philco <br> R$: XX,XX</p></div>
        </div>
        </a>
        
        <a href=""><div class="bloco">
            <img src="./images/Philco.png" alt="">
        <div class='descricao-home'>
            <p>Nespresso <br> R$: XX,XX</p
         ></div>
    </div></a>    
    </div>
</section>
<%- include('./partials/footer') %>