
<%- include('./partials/header') %>
<head>
    <link rel="stylesheet" href="stylesheets/style-about.css">
</head>
<section class="aboutUs">
    <div class="aboutUs-divisao">  
        <img  class="image-coffee "src="/images/page_about/cafe-lateral-about.png" alt="">
        <div class="description-us">
            <h6>About Us</h6>
            <p class="subtitulo-us">Lorem ipsum</p>
            <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
                standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled 
                to make a type specimen book. It has survived not only five centuries, but also the leap into 
                electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with 
                the release of Letraset sheets cont
            </p>
        </div>
    </div>
</section>
<%- include('./partials/footer') %> 