.aboutUs *{
    margin: 0;
}
body{
    background-color: #F8EFE6;
    background-image: url(../images/page_about/bACKGROUNS\ 1.png);
}

.aboutUs-divisao {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 200px;
}

.image-coffee {
    margin-right: 131px;
    border-radius: 17px;
    -webkit-box-shadow: 1px 1px 19px -2px #000000; 
    box-shadow: 1px 1px 19px -2px #000000;
}

.description-us{ 
    width: 700px;
    height: 600px;
}

.description-us h6 {
    color: #CE5F20;
    font-size: 50px;
    text-align: center;
    text-shadow: 2px 3px 7px #38180F;
    margin-bottom: 80px;
}
.description-us .subtitulo-us {
    font-size: 37px;
    font-weight: bold;
    margin-bottom: 25px;
}
.description-us p {
    font-size: 25px;
    text-align: start;
}