<div class="painel">
    <ul>
        <li><a href="/admin/painel">Painel</a></li>
        <li><a href="#">Vendas</a></li>
        <li><a href="/admin/gerenciamentodeprodutos">Produtos</a></li>
        <li><a href="/admin/gerenciarclientes">Clientes</a></li>
        <li><a href="#">Métodos de entrega</a></li>
        <li><a href="#">Promoções</a></li>
        <li><a href="#">CMS</a></li>
        <li><a href="#">Google Shopping</a></li>
        <li><a href="#">Relatórios</a></li>
    </ul>
</div>